 <style>
    body { font-family: Arial, sans-serif; margin: 0; background: #f5f5f5; }
    header {
      background: #2c3e50; color: white; padding: 18px;
      text-align: center; display: flex; align-items: center;
      justify-content: center; gap: 18x; flex-wrap: wrap;
    }
    header img { height: 140px; width: 140px; border-radius: 40%; object-fit: cover;}
    nav { background: #34495e; display: flex; justify-content: center; flex-wrap: wrap; }
    nav a { color: white; padding: 14px 20px; text-decoration: none; display: block; }
    nav a:hover { background: #1abc9c; }
    section { padding: 20px; display: none; }
    section.active {
      display: block; background: white; margin: 30px;
      border-radius: 8px; box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    footer {  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px 0;}

    /* Dashboard admin */
    .admin-panel { display: flex; flex-wrap: wrap; gap: 20px; }
    .admin-card {
      flex: 1 1 200px; background: #ecf0f1; padding: 15px;
      border-radius: 8px; box-shadow: 0 0 3px rgba(0,0,0,0.1);
    }
    .admin-card h3 { margin-top: 0; }

    /* Responsif */
    @media (max-width: 600px) {
      header { flex-direction: column; text-align: center; }
      header img { height: 60px; width: 60px; }
      nav a { padding: 10px; font-size: 0.9em; }
      section { margin: 10px; padding: 15px; }
    }
  </style>